aside .tags li,
.pagination .active,
.pagination li:hover,
.color > span,
.button,
.title_section h1 ,
#button_download,
.social li{
  background: #CBB4CC;
  background-color: #CBB4CC;
}
.img-preview {
  background: #CBB4CC;
    background: rgba(203, 180, 204,0.9)  no-repeat center center;
    height: 302px;
    overflow: hidden;
}
.item-preview {
  border: solid 1px #cdcdcd;
  height: 302px;
  overflow-y: hidden;
}
a,
.post a h3:hover,
a:hover,
.accordion-trigger:hover,
.accordion-trigger.active,
.item_info p,
.title_area h1,
.title_resalt,
ul.check li i{
  color: #CBB4CC;
}

.logo{
  border-top: 3px solid #CBB4CC;
}
.is-sticky{
  background: #CBB4CC;
    background: rgba(203, 180, 204,0.9);
}

.title_section .arrow_title{
  /*background: url("arrow_title.png") no-repeat;*/
}

.arrow_box {
  position: relative;
  left: -4px;
  top: -6px;
  background: #CBB4CC;
  border: 0 solid #CBB4CC;
}
.arrow_box:after, .arrow_box:before {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.arrow_box:after {
  border-color: rgba(203, 180, 204, 0);
  border-left-color: #CBB4CC;
  border-width: 25px;
  margin-top: -25px;
}
.arrow_box:before {
  border-color: rgba(203, 180, 204, 0);
  border-left-color: #CBB4CC;
  border-width: 25px;
  margin-top: -25px;
}
